<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <script type="text/javascript" src='{% static 'scripts/jquery-2.2.0.js'%}'></script>
    <script type="text/javascript" src='{% static 'bootstrap/js/bootstrap.min.js'%}'></script>
    <link href='{% static 'bootstrap/css/bootstrap.min.css'%}' rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container" style="background-color: #F1F9EE;">

        <div class="row" id='head' style="background-color: #FBF4F4; text-align: center;">
            <br>
            <h1 style="font-weight: 100">Preke的网站</h1>

            <br>
            <br>
            <br>

            <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
        </div>

            <div class="row" >
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <img src="static/Home/images/1.jpg" width="100%" height="400px">
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row" >
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <img src="static/Home/images/2.jpg" width="100%" height="400px">
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row" >
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <img src="static/Home/images/3.jpg" width="100%" height="400px">
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row" >
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <img src="static/Home/images/4.jpg" width="100%" height="400px">
                </div>
                <div class="col-md-2"></div>
            </div>
    </div>
</body>
</html>